<div class="info">
    <div class="container">
        <div class="personal-title">
            Личный кабинет
        </div>

        <div class="personal-pages-selector">
            <div class="personal-page active">Личные данные</div>
            <div class="personal-page" routerLink="/orders">Ваши заказы</div>
        </div>

        <div class="data-form" [formGroup]="userInfoForms">

            <div class="data-form-block">
                <div class="data-form-label">
                    Личные данные
                </div>
                <div class="data-form-label-add">
                    Введённые данные автоматически подставятся при оформлении заказа.
                </div>
                <div class="data-form-inputs personal-data-inputs">
                    <input type="text" class="input" placeholder="Фамилия" [ngStyle]="{'border-color': userInfoForms.get('lastName')?.invalid
                    && ( userInfoForms.get('lastName')?.touched ||  userInfoForms.get('lastName')?.dirty) ? 'red' : ''}"
                        formControlName="lastName">
                    <input type="text" class="input" placeholder="Имя"
                        [ngStyle]="{'border-color': userInfoForms.get('firstName')?.invalid
                    && ( userInfoForms.get('firstName')?.touched ||  userInfoForms.get('firstName')?.dirty) ? 'red' : ''}" formControlName="firstName">
                    <input type="text" class="input" placeholder="Отчество" formControlName="fatherName">
                    <input type="text" class="input" placeholder="Телефон" [ngStyle]="{'border-color': userInfoForms.get('phone')?.invalid
                    && ( userInfoForms.get('phone')?.touched ||  userInfoForms.get('phone')?.dirty) ? 'red' : ''}"
                        formControlName="phone">
                    <input type="text" class="input" placeholder="E-mail" [ngStyle]="{'border-color': userInfoForms.get('email')?.invalid
                    && ( userInfoForms.get('email')?.touched ||  userInfoForms.get('email')?.dirty) ? 'red' : ''}"
                        formControlName="email">
                </div>
            </div>



            <div class="data-form-block">
                <div class="data-form-label">
                    Адрес доставки
                </div>
                <div class="data-form-inputs address-inputs">
                    <input type="text" class="input street" placeholder="Улица" [ngStyle]="{'border-color': userInfoForms.get('street')?.invalid
                    && ( userInfoForms.get('street')?.touched ||  userInfoForms.get('street')?.dirty) ? 'red' : ''}"
                        formControlName="street">
                    <input type="text" class="input house" placeholder="№ дома" [ngStyle]="{'border-color': userInfoForms.get('house')?.invalid
                    && ( userInfoForms.get('house')?.touched ||  userInfoForms.get('house')?.dirty) ? 'red' : ''}"
                        formControlName="house">
                    <input type="text" class="input entrance" placeholder="Подъезд" [ngStyle]="{'border-color': userInfoForms.get('entrance')?.invalid
                    && ( userInfoForms.get('entrance')?.touched ||  userInfoForms.get('entrance')?.dirty) ? 'red' : ''}"
                        formControlName="entrance">
                    <input type="text" class="input apartment" placeholder="№ квартиры"
                        [ngStyle]="{'border-color': userInfoForms.get('apartment')?.invalid
                    && ( userInfoForms.get('apartment')?.touched ||  userInfoForms.get('apartment')?.dirty) ? 'red' : ''}" formControlName="apartment">
                </div>
            </div>


            <div class="data-form-block">
                <div class="data-form-label">
                    Предпочитаемый способ доставки
                </div>
                <div class="data-form-types">
                    <div class="data-form-type-item" (click)="changeDeliveryType(deliveryTypes.delivery)"
                        [class.active]="deliveryType === deliveryTypes.delivery">Курьером</div>
                    <div class="data-form-type-item" (click)="changeDeliveryType(deliveryTypes.self)"
                        [class.active]="deliveryType === deliveryTypes.self">Самовывоз</div>
                </div>
            </div>

            <div class="data-form-block">
                <div class="data-form-label">
                    Предпочитаемый способ оплаты
                </div>
                <div class="data-form-radio">
                    <div class="data-form-radio-block">
                        <input type="radio" name="" id="card" formControlName="paymentType"
                            value="{{paymentTypes.cardOnline}}">
                        <label for="card">Оплата банковской картой в интернет-магазине</label>
                    </div>
                    <div class="data-form-radio-block">
                        <input type="radio" name="" id="cashless" formControlName="paymentType"
                            value="{{paymentTypes.cardToCourier}}">
                        <label for="cashless">Безналичный расчет при получении</label>
                    </div>
                    <div class="data-form-radio-block">
                        <input type="radio" name="" id="cash" formControlName="paymentType"
                            value="{{paymentTypes.cashToCourier}}">
                        <label for="cash">Наличный расчет при получении</label>
                    </div>
                </div>
            </div>

            <button class="button" 
            [disabled]="!(userInfoForms.dirty && userInfoForms.valid)"
            (click)="updateUserInfo()"
            >Сохранить</button>

        </div>

    </div>

    <div class="page-img">
        <img src="/assets/img/page/main.png" alt="page-img">
    </div>
</div>

<!-- 14:30 -->